.card {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 25px;
  @include tablet-landscape-min {
    padding-top: 35px;
    width: 50%;
  }
  &--info {
    color: $dark-grey;
    background-color: $grey;
  }
  &--about {
    color: $white;
    background-color: $orange;
    @include tablet-landscape-min {
      order: -1;
    }
  }
  &__title {
    margin-bottom: 40px;
    font-size: 1.5rem;//27px
    letter-spacing: -1px;
    text-transform: uppercase;
    @include tablet-landscape-min {
      font-size: 1.21rem;//22px
    }
  }
  &__list {
    margin: 0;
    list-style-type: none;
    &--info {
      padding-left: 45px;
    }
    &--about {
      padding-left: 60px;
    }
    &__item {
      position: relative;
      padding-top: 30px;
      &--info {
        font-size: 1.333333rem;//24px
        &::before {
          position: absolute;
          content: '';
          display: block;
          width: 24px;
          height: 18px;
          left: -40px;
          top: 35px;
          background-image: url('../img/symbol.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
      }
      &--about {
        font-size: 1.12rem;//20px
        @include tablet-landscape-min {
          font-size: 1rem;
        }
        &::before {
          position: absolute;
          content: '';
          background-color: $white;
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          left: -30px;
          top: 35px;
        }
      }
      span {
        font-weight: 700;
      }
    }
  }
  &__photo {
    margin-top: 60px;
    text-align: center;
  }
  &__profession {
    text-align: center;
    font-family: $font-Georgia;
    font-style: italic;
    font-size: 1.222222rem;//22px
    margin-top: 20px;
    margin-bottom: 15px;
  }
  &__name {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.222222rem;//22px
  }
}
// ===================================================================
.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__subtitle {
    font-size: 1.333333rem;//24px
    text-transform: uppercase;
    text-align: center;
    @include tablet-landscape-min {
      font-size: 1.166666rem;//21px
      font-weight: 400;
    }
  }
  &__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
    margin-bottom: 70px;
    display: flex;
    // justify-content: center;
    @include tablet-landscape-min {
      margin-top: 25px;
      margin-bottom: 60px;
    }
  }
  &__item {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: $dark-grey;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-Circe;
    font-weight: 700;
  }
  &__value {
    font-size: 3rem;//60px
    color: $white;
  }
  &__hint {
    position: absolute;
    bottom: -30px;
    text-transform: uppercase;
    font-size: 0.888888rem;//16px
  }
}
// ===================================================================
.event {
  display: flex;
  justify-content: space-between;
  &__calendar {
    width: 145px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include tablet-landscape-min {
      width: 125px;
    }
    p {
      width: 100%;
      padding-top: 5px;
      font-size: 1.222222rem;//22px
      // color: $white;
      background-color: $dark-grey;
    }
    p + p {
      font-size: 4.08rem;//73.45px
      padding-top: 10px;
      font-weight: 700;
      background-color: $white;
      color: darken($grey, 15%);
    }
  }
  &__data {
    width: calc(100% - 145px);
    @include tablet-landscape-min {
      width: calc(100% - 125px);
    }
    p {
      font-family: $font-Circe;
      font-size: 1.873333rem;//33.74px
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      @include tablet-landscape-min {
        font-size: 1.666666rem;//30px
        line-height: 1.5;
      }
    }
    p + p {
      font-size: 2.248333rem;//33.74px
      border-bottom: 1px dashed $white;
      margin-bottom: 20px;
      @include tablet-landscape-min {
        font-size: 2rem;//36px
      }
    }
    span {
      font-size: 1.5rem;//27px
      @include tablet-landscape-min {
        font-size: 1.333333rem;//24px
      }
    }
  }
}
